* {
  padding: 0;
  margin: 0;
}

.DrinkList {
  width: 100%;
  height: 100%;
}

.DrinkItem {
  width: 100%;
  height: 100%;
  position: relative;
}

.DrinkImage {
  object-fit: cover;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
}

.DrinkTextContainer {
  background-color: #0008;
  position: absolute;
  bottom: 3px;
  right: 0;
  width: 100%;
}

.DrinkItemText {
  font-size: 30pt;
  font-weight: bold;
  color: white;
  margin: 10px;
}
